{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<table id="timesheetTable">
  {% for entry in account %}
  {% set i=0 %}

  <th>
    Clock In
  </th>
  <th>
    Clock Out
  </th>
  <th>
    Date
  </th>
  <th>
    Total
  </th>
  <tr>
    {% if user.id == account.owner_id %}
    <td>{{ entry.clockInEntry }}</td>
    {% endif %}
    <td>{{ entry.clockOutEntry }}</td>
    <td>{{ entry.date }}</td>
    <!--{% for i in rowTotal %}
    <td>{{ i }}</td>
    {% endfor %}-->
    <td>{{ rowTotal[i] }}</td>
  </tr>
  {% set i = i+1 %}
  {% endfor %}
</table>



{% endblock %}